<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="jaka_lumi_ros2_control" params="name initial_positions_file use_gazebo use_rviz_sim">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <!-- Include hardware plugin conditionally if rviz in simulation mode is enabled -->
            <hardware>
              <xacro:if value="${use_gazebo}">
                  <!-- <plugin>gazebo_ros2_control/GazeboSystem</plugin> -->
                  <!-- <plugin>ign_ros2_control/IgnitionSystem</plugin> -->
                  <plugin>gz_ros2_control/GazeboSimSystem</plugin>
              </xacro:if>      
              <xacro:if value="${use_rviz_sim}">
                  <plugin>mock_components/GenericSystem</plugin>
              </xacro:if>        
            </hardware>

            <!-- Joint interfaces generated for each joint -->
            <joint name="l-1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

            <joint name="l-a1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-a2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-a3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-a4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-a5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-a6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-a6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
